<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.zhixun.jietiao</key>
		<string>jietiao</string>
	</dict>
	<key>teamID</key>
	<string>VVNXZW7F7L</string>
	<key>method</key>
	<string>enterprise</string>
</dict>
</plist>
